body {
    font-family: Arial, sans-serif;
    background: url('fond/fondo.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #31333891;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    margin: 20%;
}
.display input {
    width: 100%;
    height: 70px;
    font-size: 32px;
    text-align: right;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background: #92a6bdec;
    color: #000;
    box-sizing: border-box;
}


.botones {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 20px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}
.numericos {
    background: #3333
}



.operador {
    background: #bcb4ff;
}

button:hover {
    opacity: 0.5;
}
button.operador:nth-last-child(1) {
    grid-column: span 2;
    background: #9054ffc2;
}